.assets-page-row {
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
}

.assets-page-list .assets-page-row {
  margin: 0;
  padding: 10px 0;
  border-bottom: 1px solid #e5e7eb;
}

.assets-page-list .assets-page-row:last-child {
  border-bottom: none;
}

.assets-page-row-meta {
  display: flex;
  flex-direction: column;
  /* align-items: flex-end; */
  gap: 36px;
}

.assets-page-link {
  margin-top: 12px;
  display: inline-block;
  font-size: 14px;
  color: #2563eb;
  cursor: pointer;
}
